$primary-color:#ffd700;

button{
    border: 1px solid black;
    font-size:16px;
    color:white;
    box-shadow: 1px 1px 2px black;
    background-color: $primary-color;
    margin:5px;
    border-radius: 5%;
    padding: 5px 20px 5px;
}

input{
   margin:auto;
}

table{
   th{
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    td{
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .message{
        &--empty{
            color:red;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            padding: 10px;
        }
    }
}


